In [21]:
import requests # you need this module to make an API call
import pandas as pd
import json

In [22]:
pip install openpyxl

Requirement already satisfied: openpyxl in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (3.1.3)
Requirement already satisfied: et-xmlfile in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from openpyxl) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

In [23]:
from openpyxl import Workbook

In [39]:
api_url="http://127.0.0.1:5000/data"

def get_number_of_jobs_Tech(technology):
    number_of_jobs = 0
    payload = {"Key Skills": technology}
    r = requests.get(api_url, params=payload)
    if r.ok:
        data = r.json()
        number_of_jobs += len(data)
    return technology, number_of_jobs

In [40]:
get_number_of_jobs_Tech("Python")

('Python', 1173)

In [46]:
technology_list = ["C", "C#", "C++", "Java", "JavaScript", "Python", "Scala", "Oracle", "SQL Server", "MySQL Server", "PostgreSQL", "MongoDB"]

In [47]:
wb=Workbook()                        
ws=wb.active

In [48]:
ws.append(["Technology", "Number of Jobs Postings"])

In [49]:
for technology in technology_list:
    ws.append(get_number_of_jobs_Tech(technology))

wb.save("job-postings.xlsx")

In [50]:
df2 = pd.read_excel('job-postings.xlsx')
df2.sort_values(by='Number of Jobs Postings', ascending=False, inplace=True)
df2

      Technology  Number of Jobs Postings
0              C                    13498
3           Java                     2609
5         Python                     1173
7         Oracle                      784
4     JavaScript                      355
1             C#                      333
2            C++                      305
8     SQL Server                      250
11       MongoDB                      174
6          Scala                       33
10    PostgreSQL                       10
9   MySQL Server                        0